<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ImageInserter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ImageInserter.Properties.Settings>
            <setting name="checkBox_setSize" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="editBox_setW" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="editBox_setH" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="dropDown_shrink" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="dropDown_writeCell" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="dropDown_deleteCell" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="dropDown_direction" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="checkBox_maxSize" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="editBox_maxW" serializeAs="String">
                <value>512</value>
            </setting>
            <setting name="editBox_maxH" serializeAs="String">
                <value>512</value>
            </setting>
            <setting name="dropDown_writeMemo" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="dropDown_deleteMemo" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="splitButton_insert" serializeAs="String">
                <value>select</value>
            </setting>
            <setting name="splitButton_delete" serializeAs="String">
                <value>select</value>
            </setting>
            <setting name="IsUpgrated" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checkBox_rotate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="dropDown_target" serializeAs="String">
                <value>2</value>
            </setting>
        </ImageInserter.Properties.Settings>
    </userSettings>
</configuration>